*{
	margin: 5px;
	padding: 0px;
	}
.google img{
	width: 250px;
	display: block;
	margin: auto;
}

.google{
	width: 460px;
    
	margin: 180px auto 0px;
}
.google input{
	width: 100%;
	box-sizing: border-box;
    border: 1px solid #D6D2C4;
	padding: 9px;
	border-radius: 20px;
	margin: 20px 0px;
	background-color: #F4F4F4;
	color: gray;
}
.box a{
	text-decoration: none;
	background-color: #F2EFEA;
	color: black;
	display: inline-block;
	padding: 10px 25px;
	font-size: 13px;
	border-radius: 7px;

}

.box{
	text-align: center;
}




.google p{
	text-align: center;
	font-size: 16px;
	margin: 20px 0px;
	color: black;

}
.google p a{
	text-decoration: none;
	margin: 20px 0px;
	font-size: 18px;
	color: blue;
}